#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img#perfil_foto {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.separator {
  width: 40em;
  height: 1px;
}